html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #333537;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #fff;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
}

p {
    margin: .25rem 0 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 700;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

p svg {
    display: inline;
}